<div id="fh5co-single-content" class="container-fluid pb-6 pt-6 paddding">
    <div class="container paddding">
        <div class="row mx-0">
            <div class="col-md-10 animate-box" data-animate-effect="fadeInLeft">
                <div class="col-md-8">
                    <h1 class="mb-4"> {{blog?.title}}</h1>
                    <img [src]="blog?.imageUrls" alt="Ảnh đại diện" class="img-fluid mb-3">
                    <div [innerHTML]="getSanitizedHtml()"></div>
         
                  </div>
            </div>
            <div class="col-md-2 animate-box" data-animate-effect="fadeInRight">
                <app-tag-log></app-tag-log>
                <app-popular-blog></app-popular-blog>
              </div>
           
        </div>
    </div>
 
</div>