

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler px-0" type="button" data-mdb-toggle="collapse"
      data-mdb-target="#navbarExampleOnHover" aria-controls="navbarExampleOnHover" aria-expanded="false"
      aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarExampleOnHover">
      <ul class="navbar-nav me-auto ps-lg-0" style="padding-left: 0.15rem">
        <li class="nav-item">
          <div class="list-group list-group-flush">
            <a  class="nav-link " [routerLink]="'/home'"> Home </a>
           </div>
        </li>
        <li class="nav-item">
          <div class="list-group list-group-flush">
            <a  class="nav-link "  [routerLink]="'/blog'"> Topic C# </a>
           </div>
        </li>
        <li class="nav-item">
          <div class="list-group list-group-flush">
            <a  class="nav-link "  [routerLink]="'/about-me'"> About me </a>
           </div>
        </li>
        <li class="nav-item">
          <div class="list-group list-group-flush">
            <a  class="nav-link "  [routerLink]="'/login-component'"> Login </a>
           </div>
        </li>
      </ul>

    </div>
  </div>
</nav>
