
<nav class="navbar navbar-expand-lg navbar-light bg-light " >
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a  class="nav-link "  [routerLink]="'/blog'"> Trang chủ</a>
        </li>
        <li class="nav-item">
          <a  class="nav-link "  [routerLink]="'/blog'"> Các chủ đề </a>
        </li>
        <li class="nav-item">
          <a  class="nav-link "  [routerLink]="'/about-me'"><b></b> Về tôi </a>
        </li>
      </ul>
      <form class="d-flex">
        <input #filter  class="form-control me-2" type="search" placeholder="Search ..." aria-label="Search">
        <div class="text-center d-inline-block"  (click)="Search(filter.value)">
          <a class="fh5co_display_table"><div class="fh5co_verticle_middle"><i class="fa fa-search"></i></div></a>
      </div>
      </form>
    </div>
  </div>
</nav>
