<div class="row pb-4">
    <div class="col-md-5">
        <div class="fh5co_hover_news_img">
            <div class="fh5co_news_img"><img [src]="housingLocation.imageUrls" alt=""/></div>
            <div></div>
        </div>
    </div>
    <div class="col-md-7 animate-box">
        <a  [routerLink]="['/blogDetail', housingLocation.blogPostId]" class="fh5co_magna py-2"> {{housingLocation.title}} </a> 
        <div class="fh5co_consectetur"> {{housingLocation.description}}
        </div>
    </div>
 </div>